<div class="container-fluid">
    <div class="row">
        <div class="col border-bottom">
            <SKChannel />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-flex flex-column align-items-center p-4">
                <div class="border">
                    <SKCanvas Width="800" Height="600"/>
                </div>

            </div>
        </div>
        <div class="col-auto border-left p-3">
            <div class="row">
                <div class="col">
                    <SKToolkit />
                </div>
            </div>
            <div class="row">
                <hr class="w-100" />
            </div>
            <div class="row">
                <div class="col">
                    <SKChat />
                </div>
            </div>
        </div>
    </div>
</div>