<div class="container-fluid">
    <div class="row">
        <div class="col border-bottom">
            <SKChannel/>
        </div>
    </div>
    <div class="row">
        <div class="col-auto p-3">
            <SKParticipantList />
        </div>
        <div class="col p-3">
            <div class="d-flex flex-column align-items-center">
                <div class="border">
                    <SKCanvas Width="800" Height="600"/>
                </div>
            </div>
        </div>
        <div class="col-auto p-3 border-left">
            <div class="row">
                <div class="col py-1 px-3">
                    <SKToolbox/>
                </div>
            </div>
            <div class="row">
                <hr class="w-100" />
            </div>
            <div class="row">
                <div class="col">
                    <SKChat/>
                </div>
            </div>
        </div>
    </div>
</div>