<div class="container-fluid">
    <div class="row">
        <div class="col border-bottom">
            <Sketch.WebApp.Areas.Subscriptions.SKChannel />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <Sketch.WebApp.Areas.Whiteboard.SKDemoCanvas />
        </div>
        <div class="col-auto border-left p-3">
            <Sketch.WebApp.Areas.Messaging.SKChat />
        </div>
    </div>
</div>