@inherits SKBrushSizeSliderComponent
<div class="sk-brush-slider-container">

    <input @oninput="OnValueChanged"  
           class="sk-brush-slider-container" 
           type="range" value="@MinValue" min="@MinValue" max="@MaxValue" />

    @Brush.Size

</div>


@code{

    public async Task OnValueChanged(ChangeEventArgs e)
    {
        await SetBrushSizeAsync(Convert.ToSingle(e.Value));
    }
}
