@namespace Sketch.WebApp.Areas.Toolbox

<div class="container-fluid">
    <div class="row">
        <div class="col p-0">

            <h4>Modes:</h4>
            <div class="row">
                <div class="col-auto pr-1">
                    <SKBrushButton/>
                </div>
                <div class="col-auto pr-1">
                    <SKEraserButton/>
                </div>
                <div class="col-auto pr-1">
                    <SKBucketButton/>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col p-0">

            <h4>Thickness:</h4>
            <SKSizeSlider MinValue="1" MaxValue="35"/>

        </div>
    </div>
    <div class="row">
        <div class="col p-0">

            <h4>Color:</h4>
            <SKColorPicker />

        </div>
    </div>
</div>