@inherits SKToolboxComponent
@namespace Sketch.WebApp.Areas.Toolbox

<div class="container-fluid">
    <div class="row">
        <div class="col p-0">

            <h4>Thickness: </h4>
            <Sketch.WebApp.Areas.Tools.SKBrushSlider
                MinValue="1" MaxValue="35" SizeHasChanged="UpdateState"/>

        </div>
    </div>
    <div class="row">
        <div class="col">

            <h4>Color: </h4>
            <Sketch.WebApp.Areas.Tools.SKColorPicker
                Colorants="Colerants"
                ColorHasChanged="UpdateState"
                Shades="2" Tints="2" />

        </div>
    </div>

</div>