@inherits SKDemoCanvasComponent
@namespace Sketch.WebApp.Areas.Whiteboard

<div class="container-fluid">

    <div class="row p-3">
        <div class="form-group">
            <h4>Color:</h4>
            <button class="btn btn-danger m-1" @onclick="UseRedBrush">Red</button>
            <button class="btn btn-primary m-1" @onclick="UseBlueBrush">Blue</button>
            <button class="btn btn-success m-1" @onclick="UseGreenBrush">Green</button>
        </div>
    </div>

    <div class="row p-3">
        <div class="form-group">
            <h4>Size: </h4>
            <input @bind="Thickness"
                   @bind:event="oninput"
                   type="range" min="1" max="35" />

            <label>@Thickness</label>

        </div>
    </div>

    <div class="row p-3">
        <div class="form-group">
            <h4>Canvas:</h4>
            <div class="border">
                <SKCanvas Width="640"
                          Height="480"
                          Color="Color"
                          Thickness="Thickness">
                </SKCanvas>
            </div>
        </div>
    </div>
</div>
