@inherits SKColorPickerComponent
@namespace Sketch.WebApp.Components

<div class="sk-container">
    <div class="sk-stack-horizontal">
        @foreach(var color in Colorants)
        {
            <div class="sk-stack sk-stack-item-grow">
            @foreach (var mixture in GetPalette(color))
            {
                <SKColor Color="mixture"
                         ColorSelected="OnColorSelectedAsync">

                </SKColor>
            }
            </div>
        }
    </div>
</div>