@inherits SKColorComponent
@namespace Sketch.WebApp.Components

<div class="sk-container">
    <div class="sk-clickable" 
         @onclick="OnClickAsync">
        
        <div class="sk-aspect-box sk-rounded-box"
             style="background-color:@(Shade.ToHexString())">

            <div class="sk-aspect-box-overlay sk-scale-sm
                 sk-scale-sm sk-container-stretch sk-rounded-box"
                 style="background-color: @(Color.ToHexString())">
                
            </div>
        </div>

    </div>
</div>