@inherits SKChatComponent
@namespace Sketch.WebApp.Components

<h4>Chat: </h4>
<div class="form-group">
    <label>Name:</label>
    <SKUserIdentityName />
</div>

<div class="form-group">
    <label>Contents:</label>
    <input class="form-control" @bind="Contents" />
</div>

<div class="form-group">
    <button class="btn btn-primary"
            @onclick="OnClickAsync">
        Send
    </button>
</div>

<SKMessageList />