@page "/"
@inject IBrushModel Brush
@inject IPipetteModel Pipette

<div class="container-fluid">
    <div class="row">
        <div class="col border-bottom">
            <SKChannel />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-column align-items-center p-4">
                        <div class="border">
                            <SKCanvas Width="800"
                                      Height="600"
                                      Color="Brush.Color"
                                      Thickness="Brush.Size" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto border-left p-3">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">

                            <h4>Thickness: </h4>
                            <SKBrushSizeSlider MinValue="1"
                                           MaxValue="35"
                                           SizeHasChanged="StateHasChanged"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <h4>Color: </h4>
                            <SKColorPicker Colorants="Colorants"
                                           ColorHasChanged="StateHasChanged"
                                           Shades="2" Tints="2" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr class="w-100"/>
            </div>
            <div class="row">
                <div class="col">
                    <SKChat />
                </div>
            </div>
        </div>
    </div>
</div>

@code{

    private List<Color> Colorants = new List<Color>()
    {
        Colors.Grey,
        Colors.Red,
        Colors.Orange,
        Colors.Yellow,
        Colors.Green,
        Colors.Turquoise,
        Colors.Aqua,
        Colors.Blue,
        Colors.Purple,
        Colors.Pink,
        Colors.Beige,
        Colors.Brown
    };
}