@page "/"
<div class="sk-stack">
    <div class="sk-stack-horizontal">
        <SKBrushButton/>
        <SKEraserButton/>
        <SKPaintBucketButton/>
    </div>
    <div class="sk-stack">
        <SKCanvas Width="640" Height="480" />
    </div>
</div>