@inherits SKSizeComponent
@namespace Sketch.WebApp.Areas.Configuration

<div class="sk-slider-container">

    <input @oninput="OnValueChanged"
           class="sk-slider" type="range"
           value="@MinValue" min="@MinValue" max="@MaxValue" />

    @Value

</div>