@inherits SKChannelComponent
@namespace Sketch.WebApp.Views

<select class="form-select"
        @onchange="OnSelectionChangedAsync">
    <option value="" selected disabled hidden>None</option>
    <option value="abc">Group 1</option>
    <option value="123">Group 2</option>
    <option value="def">Group 3</option>
    <option value="456">Group 4</option>
</select>