@inherits SKChatComponent
@namespace Sketch.WebApp.Views

<div class="sk-stack-horizontal">
    <div class="sk-stack-item-grow">
        <input class="form-control" @bind="Contents" />
    </div>
    <div class="sk-stack-item">
        <button class="btn btn-primary px-2" @onclick="OnClickAsync">
            <i class="fas fa-lg fa-share"></i>
        </button>
    </div>
</div>