@inherits ComponentBase
@namespace Sketch.WebApp.Views

<div class="sk-message-item-@(Owner ? "send" : "received")">
    @if (!Owner)
    {
        <span>@Message.User.Name - @Message.Contents</span>
    }
    else
    {
        <span>@Message.Contents</span>
    }

</div>