@inherits SKMessagesComponent
@namespace Sketch.WebApp.Views

<div class="sk-stack" style="width: 252px;">
    @foreach (var (sendBySelf, message) in Posts)
    {
        <SKMessageListItem Owner="sendBySelf" Message="message"/>
    }
</div>
