@inherits SKBrushSettingsComponent
@namespace Sketch.WebApp.Views

<div class="sk-stack-horizontal p-2">

    <input @oninput="OnValueChanged"
           class="form-range" type="range"
           value="@MinValue" min="@MinValue" max="@MaxValue" />

    <span class="ms-2">@Size</span>

</div>